.awards {
    background-color: #122947;

    & .SectionTitle {
        padding: 0px 279px;
        display: flex;
        flex-direction: column-reverse;

        @media (max-width: 992px) {
            padding: 0px 50px;
        }

        & h2 {
            font-size: 30px;
            font-size: 400;
            color: $white;

            @media (max-width: 992px) {
                font-size: 25px;
            }
        }

        & p {
            color: $primaryColor;
        }
    }

    &__icon {
        & i {
            width: 100px;
            height: 100px;
            line-height: 100px;
            margin: auto;
            margin-top: 50px;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 4% 50%;
            font-size: 32px;
            color: $white;
        }

        & h2 {
            font-size: 50px;
            color: $white;
        }

        & p {
            color: $grey;
        }
    }
}