.recent {
    &__Content {
        text-align-last: left;
    }
}

.recentCard {
    box-shadow: $boxShadow2;

    &__text {
        padding: 30px;
    }

    &__category {
        margin-bottom: 10px;

        & span {
            padding: 4px 15px;
            border-radius: 2px;
            font-weight: 600;
            font-size: 13px;
            display: inline-block;
        }

        & i {
            font-size: 20px;
            color: $iconColor;
        }
    }

    &__btn {
        border-top: $border2;
        padding: 10px 30px;
    }
}