.team {
    &__content {}

    &__card {
        background: $white;
        border-radius: 6px;
        border-color: 1px solid rgb(62 28 131 / 10%);
        padding: 2rem;
        transition: .5s;
        text-align: left;

        &:hover {
            box-shadow: $boxShadow2;
            cursor: pointer;
        }
    }

    &__body {
        text-align: center;
        margin-top: 30px;

        & label {
            display: inline-block;
            margin-top: 20px;
        }

        & i {
            color: $grey;
            margin-right: 5px;
        }

    }

    &__img {
        width: 90px;
        height: 90px;
        margin: auto;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: -15px;
            left: -15px;
            width: 110px;
            height: 110px;
            border: 5px solid #edf0f5;
            border-radius: 50%;
        }

        & img {
            width: 90px;
            height: 90px;
            border-radius: 50%;
        }

        & i {
            color: #108be7;
            font-size: 17px;
            position: absolute;
            top: 35px;
            right: -10%;
        }
    }

    &__socials {

        & li {

            & i {
                width: 40px;
                height: 40px;
                line-height: 40px;
                align-items: center;
                background: #f4f5f7;
                border-radius: 50%;
                margin: 15px 8px;

                &:hover {
                    background: $primaryColor;
                    color: $white;
                    transition: .3s ease-in-out;
                }
            }

        }
    }

    &__button {
        margin-top: 20px;

        & i{
            color: $white;
            font-size: 20px;
        }
    }
}