/* FONT FAMILY */
$poppins: 'Poppins', sans-serif;


/* COLORS*/
$white: #fff;
$black: #000;
$grey: #808080;
$bodyText: #72809d;
$primaryColor: #27ae60;
$secondryColor:#2d3954;
<<<<<<< HEAD
=======
$labelColor: #2d3954;
>>>>>>> alt-history


/* BACKGROUND COLOR */
$bg-primary: #f7f9fc;


/* BORDER */
$border: 1px solid rgba(128, 128, 128, 0.2);


/* BOX-SHADOW */
$boxShadow: 0 5px 30px rgb(0 24 84/  10%);