/* FONT FAMILY */
$poppins: 'Poppins', sans-serif;


/* COLORS*/
$white: #fff;
$black: #000;
$primaryColor: #27ae60;
$lightColor: #666;


/* BORDER */
$border: .2rem solid $black;


/* BOX-SHADOW */
$boxShadow: 0 5px 30px rgb(0 24 84/  10%);